@charset "UTF-8";

.bottomArea1 {
    background: #ede8e4;
    color: #2c2c2c !important;
    padding: 15px 0px;
}
.col-xs-12 {
    width: 100%;
    float: left;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
div{
font-size: 12px;
font-family: 'Roboto';
display: block;      
color: #353535;
font-size: 12px;
}
*{
   box-sizing: border-box;
}
body{
   line-height: 1.42857143;
}
html{
   -webkit-tap-highlight-color: rgba(0,0,0,0);
}
:after, :before {
    box-sizing: border-box;
}
.contentLimit {
    max-width: 2000px;
    margin: 0px auto;
    clear: both;
}
.col-lg-offset-2 {
    margin-left: 16.66666667%;
    }  
.col-lg-8 {
    width: 66.66666667%;
    float: left;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
.col-lg-3 {
    width: 25%;
    float: left;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
.col-md-4 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
.col-xs-6{
   position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
}
.bottomArea1 .bottomMenu {
    text-align: center;
}
.bottomArea1 .bottomMenu ul {
    display: inline-block;
    margin: 0px;
}
ul{
   color: #353535;
    font-size: 12px;
    font-family: 'Roboto';
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    padding: 0px;
    margin-top: 0;
    margin-bottom: 10px;
    display: block;
}
.bottomArea1 .bottomMenu ul li {
    float: left;
}
ul li {
    list-style: none;
}
li{
   color: #353535;
    font-size: 12px;
    font-family: 'Roboto';
    display: list-item;
    text-align: -webkit-match-parent;
}
.bottomArea1 .bottomMenu ul li a {
    padding: 5px 20px;
    color: #2c2c2c !important;
    font-size: 13px;
}
a{
   font-family: 'Roboto';
   text-decoration: none;
   background-color: transparent;
   color: #353535;
}
a:-webkit-any-link {
    text-decoration: underline;
    cursor: pointer;
}
.bottomArea1 .bottomItem .title {
    font-weight: bold;
    font-size: 14px;
    margin: 10px 0px;
    color: #2c2c2c !important;
}
.bottomArea1 .bottomItem ul li {
    font-size: 12px;
    color: #2c2c2c !important;
    font-family: 'Raleway','Nanum Gothic',serif;
}

element.style {
    margin-top: 20px;
}
.cursorPointer {
    cursor: pointer;
}
.w80 {
    width: 150px !important;
}
img-responsive{
   display: block;
    max-width: 100%;
    height: auto;
}
img {
    vertical-align: middle;
    border: 0;
}
.checkCompany {
    letter-spacing: -0.5px;
    font-size: 11px;
    border: 1px solid #888;
    background: #fff;
    padding: 1px 3px;
    border-radius: 5px;
    white-space: nowrap;
}
.bottomArea2 {
    background: #ede8e4;
    color: #2c2c2c !important;
    text-align: center;
    padding: 40px 0px 40px;
}
.bottomArea2 div {
    color: #2c2c2c !important;
}
.col-lg-offset-2 {
    margin-left: 16.66666667%;
}



